@model IEnumerable<SDES___Office_Directory.Models.office>

@{
    ViewBag.Title = "Offices ("+Model.Count()+")";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

@section links{
    <ul class="content-main-links">
        <li>@Html.ActionLink("Create New Office", "Create", "office", new { area = "admin"}, null)</li>
    </ul>
}

<table class="grid smaller">
    <tr>
        <th></th>
        <th>
            Name
        </th>
        <th>
            Phone
        </th>
        <th>
            Email
        </th>
        <th>
            Location
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            <a href="@Url.Action("Details", new { id=item.officeId })">
                <img src="http://assets.sdes.ucf.edu/images/icons/fff_page_white_magnify.png" alt="icon" class="icon"/>
            </a>
            <a href="@Url.Action("Edit", new { id=item.officeId })">
                <img src="http://assets.sdes.ucf.edu/images/icons/fff_page_white_edit.png" alt="icon" class="icon"/>
            </a>
            <a href="@Url.Action("Delete", new { id=item.officeId })">
                <img src="http://assets.sdes.ucf.edu/images/icons/fff_delete.png" alt="icon" class="icon"/>
            </a>
        </td>
        <td>           
            @if(item.officeName.Length > 40){
                <strong>@item.officeName.Substring(0, 40)&hellip; (@item.officeAcronym.ToUpper())</strong>
            }
            else
            {
                <strong>@item.officeName (@item.officeAcronym.ToUpper())</strong>
            }
        </td>
        <td>
            @item.officePhone
        </td>
        <td>
            @item.officeEmail
        </td>
        <td>
            <a href="http://map.ucf.edu/?show=@item.officeLocationBuildingNum">@item.officeLocationBuilding @item.officeLocationRoomNum</a>
        </td>
    </tr>
}

</table>