@model SDES___Office_Directory.Models.hour

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

@section links{
    <ul class="content-main-links">
        <li>@Html.ActionLink("Back to Office", "Details", "office", new { id = Model.officeId }, null)</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "fieldset" })) {
    
    <fieldset>
        <div class="space-left">
            @Html.HiddenFor(model => model.officeId)
            @Html.ValidationSummary(true)
        </div>
        <div class="shift-right">
            <div class="editor-label">
                @Html.LabelFor(model => model.hoursDay)
            </div>
            <div class="editor-field">
                <select id="hoursDay" name="hoursDay" class="required">
                    <option></option>
                    <option value="0">Monday</option>
                    <option value="1">Tuesday</option>
                    <option value="2">Wednesday</option>
                    <option value="3">Thursday</option>
                    <option value="4">Friday</option>
                    <option value="5">Saturday</option>
                    <option value="6">Sunday</option>
                </select>
                @Html.ValidationMessageFor(model => model.hoursDay)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.hoursOpen)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.hoursOpen)
                @Html.ValidationMessageFor(model => model.hoursOpen)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.hoursClose)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.hoursClose)
                @Html.ValidationMessageFor(model => model.hoursClose)
            </div>
        </div>
    </fieldset>
    <div class="submitbox">
        <input type="submit" value="@ViewBag.Title" />
    </div>
}