@model SDES___Office_Directory.Models.staff

@{
    ViewBag.Title = "Create";
    Layout = "~/Areas/admin/Views/Shared/_AdminLayout.cshtml";
}

@section links{
    <ul class="content-main-links">
        <li>@Html.ActionLink("Back to Office", "Details", "office", new { id = Model.officeId }, null)</li>
    </ul>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "fieldset" })) {
    <fieldset>
        <div class="space-left">
            @Html.HiddenFor(model => model.officeId)
            @Html.ValidationSummary(true)
        </div>
        <div class="shift-right">        
            <div class="editor-label">
                @Html.LabelFor(model => model.staffName)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.staffName)
                @Html.ValidationMessageFor(model => model.staffName)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.staffTitle)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.staffTitle)
                @Html.ValidationMessageFor(model => model.staffTitle)
            </div>

            <div class="editor-label">
                @Html.LabelFor(model => model.staffOrder)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.staffOrder)
                @Html.ValidationMessageFor(model => model.staffOrder)
            </div>
        </div>
    </fieldset>
    <div class="submitbox">
        <input type="submit" value="@ViewBag.Title" />
    </div>
}