@model IEnumerable<SDES___Office_Directory.Models.staff>

<h3>Staff Members</h3>
<table class="grid">
    <tr>
        <th>
            <a href="@Url.Action("Create", "staff", new { id = ViewBag.Office })">
                <img src="https://assets.sdes.ucf.edu/images/icons/fff_add.png" alt="icon" class="clean" />
            </a>
        </th>
        <th>
            Name
        </th>
        <th>
            Title
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.ActionLink("Edit", "Edit", "staff", new { id=item.staffId }, null) |
            @Html.ActionLink("Delete", "Delete", "staff", new { id = item.staffId }, null)
        </td>
        <td>
            @item.staffName
        </td>
        <td>
            @item.staffTitle
        </td>

    </tr>
}

</table>

